<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости - детальная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Новости
                                    </a>
                                </li>
                                <li>
                                    <span>
                                        Бесплатные музеи для школьников Москвы H1
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-news-detail">
                <div class="container">
                    <div class="block-news-detail__content">
                        <div class="block-news-detail__menu">
                            <div class="block-news-detail__menu-content">
                                <div class="block-news-detail__title">
                                    Содержание:
                                </div>
                                <ul>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Государственный Дарвиновский музей</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Музей космонавтики</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Государственный музей А.С. Пушкина</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Музей-панорама «Бородинская битва»</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Палеонтологический музей им. Ю.А. Орлова</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>
                                                Московский музей современного искусства (ММОМА)
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Музей истории ГУЛАГа</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Музей-заповедник «Коломенское»</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Мультимедиа-арт-музей</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Музей В.В. Маяковского</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-news-detail__body">
                            <h1 class="title1">
                                Бесплатные музеи<br> для школьников Москвы H1
                            </h1>
                            <img src="img/news/image4.webp" alt="" class="block-news-detail__pic1">
                            <div class="block-news-detail__text">
                                <p>
                                    Музеи — это один из самых доступных и эффективных способов культурного и
                                    образовательного развития, особенно когда речь идет о детях. В Москве действует
                                    масштабная городская программа, благодаря которой школьник может бесплатно посещать
                                    десятки культурных пространств в течение всего года. Для семьи с ребенком это
                                    хороший вариант совместного досуга, а для школы — полноценный образовательный
                                    ресурс.
                                </p>
                                <p>
                                    Программа «Музеи — детям» объединяет более 115 государственных и московских
                                    учреждений культуры: от крупных выставочных комплексов до камерных галерей и
                                    исторических домов. Участие в программе позволяет организовать как индивидуальное
                                    посещение, так и школьную экскурсию для класса или группы.
                                </p>
                                <p>
                                    Доступ осуществляется по карте «Москвенок», что делает процесс входа быстрым и
                                    удобным. Ниже вы найдете подробный список музеев, практические рекомендации, а также
                                    идеи для познавательной поездки по городу и области.
                                </p>
                            </div>
                            <div class="block-news-detail__list">
                                <h2 class="title2">Быстрая справка H2</h2>
                                <ol>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>1</span>
                                        </div>
                                        <p>Программа действует круглый год, включая каникулы и выходные.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>2</span>
                                        </div>
                                        <p>Участники — учащиеся школ и колледжей города.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>3</span>
                                        </div>
                                        <p>Вход осуществляется бесплатно по карте «Москвенок».</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>4</span>
                                        </div>
                                        <p>Один музей можно посещать не чаще одного раза в день.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>5</span>
                                        </div>
                                        <p>Количество музеев-участников — более 115.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <span>6</span>
                                        </div>
                                        <p>Доступны как индивидуальные визиты, так и организованные поездки
                                            класса.</p>
                                    </li>
                                </ol>
                            </div>
                            <blockquote>
                                <div class="block-news-detail__quote">
                                    <svg aria-hidden="true" width="20" height="17">
                                        <use xlink:href="img/sprite.svg#quote2"></use>
                                    </svg>
                                </div>
                                <p>
                                    Среди дополнительных преимуществ – бесплатный транспорт для организованных групп
                                    учащихся, предоставление учебных материалов для самостоятельного проведения
                                    экскурсии учителем, а также доступ к специальным детским экскурсионным программам
                                </p>
                            </blockquote>
                            <div class="block-news-detail__list">
                                <h3 class="title3">Практическое руководство: как начать посещать музеи H3</h3>
                                <ul>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>Подойти к кассе или стойке администратора.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>Приложить карту «Москвенок» к считывателю.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>Дождаться проверки данных сотрудником.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>Получить распечатанный бесплатный билет.</p>
                                    </li>
                                    <li>
                                        <div class="block-news-detail__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>Пройти в залы музея</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section block-section-news">
                <img loading="lazy" src="img/bg1.webp" alt="" class="block-section__bg1 bg1">
                <img loading="lazy" src="img/bg2.webp" alt="" class="block-section__bg2 bg2">
                <div class="container">
                    <div class="block-section__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Другие новости
                            </h2>
                        </div>
                        <div class="block-section__body">
                            <div class="block-section__slider swiper">
                                <div class="block-section__wrapper swiper-wrapper">
                                    <div class="block-section__slide swiper-slide">
                                        <a href="./" class="card-news">
                                            <div class="card-news__image">
                                                <div class="card-news__badge">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>19.07.2025</span>
                                                </div>
                                                <img loading="lazy" src="img/news/image1.webp" alt=""
                                                    class="card-news__pic1">
                                            </div>
                                            <div class="card-news__item">
                                                <div class="card-news__title">
                                                    Куда поехать с 5 классом
                                                </div>
                                                <p>
                                                    Хотите узнать историю города?<br> Присоединяйтесь к нашим
                                                    ежедневным
                                                    групповым экскурсиям в Костроме и окрестностям.
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <a href="./" class="card-news">
                                            <div class="card-news__image">
                                                <div class="card-news__badge">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>19.07.2025</span>
                                                </div>
                                                <img loading="lazy" src="img/news/image2.webp" alt=""
                                                    class="card-news__pic1">
                                            </div>
                                            <div class="card-news__item">
                                                <div class="card-news__title">
                                                    Вдохновители запустили проект-хронику
                                                </div>
                                                <p>
                                                    Хотите узнать историю города?<br> Присоединяйтесь к нашим
                                                    ежедневным
                                                    групповым экскурсиям в Костроме.
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <a href="./" class="card-news">
                                            <div class="card-news__image">
                                                <div class="card-news__badge">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>19.07.2025</span>
                                                </div>
                                                <img loading="lazy" src="img/news/image3.webp" alt=""
                                                    class="card-news__pic1">
                                            </div>
                                            <div class="card-news__item">
                                                <div class="card-news__title">
                                                    Ожерелье московских усадеб
                                                </div>
                                                <p>
                                                    Хотите узнать историю города?<br> Присоединяйтесь к нашим
                                                    ежедневным
                                                    групповым экскурсиям в Костроме и окрестностям.
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <a href="./" class="card-news">
                                            <div class="card-news__image">
                                                <div class="card-news__badge">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>19.07.2025</span>
                                                </div>
                                                <img loading="lazy" src="img/news/image1.webp" alt=""
                                                    class="card-news__pic1">
                                            </div>
                                            <div class="card-news__item">
                                                <div class="card-news__title">
                                                    Куда поехать с 5 классом
                                                </div>
                                                <p>
                                                    Хотите узнать историю города?<br> Присоединяйтесь к нашим
                                                    ежедневным
                                                    групповым экскурсиям в Костроме и окрестностям.
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-nav">
                                <button type="button" class="section-arrow-prev slider-nav-arrow arrow-prev">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button type="button" class="section-arrow-next slider-nav-arrow arrow-next">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>