<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer-top">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/logo2.webp" alt="">
                    </a>
                    <div class="socials">
                        <a href="./">
                            <img src="img/icons/telegramm.svg" alt="">
                        </a>
                        <a href="./">
                            <img src="img/icons/max.svg" alt="">
                        </a>
                        <a href="./">
                            <img src="img/icons/vk.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-top__menu menu1">
                    <div class="footer-top__title">
                        Каталог:
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <span>Экскурсии по предметам</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Экскурсии по классам</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Праздники</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Туры по России</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__menu menu2">
                    <div class="footer-top__title">
                        Учителям:
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <span>Документы для скачивания</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Правила бронирования</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Акции</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span>Договор оферты</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__contacts">
                    <div class="footer-top__title">
                        Контакты:
                    </div>
                    <ul>
                        <li>
                            <a href="tel:79036346071">
                                <img loading="lazy" src="img/icons/phone2.svg" alt="">
                                <span>+7 903 <strong>63 46 071</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@kostour.ru">
                                <img loading="lazy" src="img/icons/mail2.svg" alt="">
                                <span class="mail">info@kostour.ru</span>
                            </a>
                        </li>
                    </ul>
                    <a href="./" class="btn btn-blue">
                        <span>Написать директору</span>
                    </a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__logo">
                    <img loading="lazy" src="img/icons/logo2.svg" alt="">
                </div>
                <div class="footer-bottom__copy">
                    © kostour.ru 2025.<br>
                    Все права защищены
                </div>
                <div class="footer-bottom__site">
                    <span>Разработка сайта:</span>
                    <a href="./">miridea.ru</a>
                </div>
                <div class="footer-bottom__reestr">
                    <img loading="lazy" src="img/gerb.webp" alt="">
                    <div class="footer-bottom__item">
                        <div class="footer-bottom__title">
                            Мы в реестре туроператоров
                        </div>
                        <p>
                            Реестровый номер <span>РТО 012345</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>