<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Категория 1</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li><span>Туры и экскурсии</span></li>
                            </ul>
                        </div>
                        <h1 class="title1">Туры и экскурсии</h1>
                    </div>
                </div>
            </div>

            <div class="block-category1">
                <div class="container">
                    <div class="block-category1__content">
                        <form action="#" class="filter-select">
                            <div class="filter-select__selects">
                                <select name="form[1]" class="select1">
                                    <option value="" data-show data-label data-label="Класс:" selected>
                                        Класс
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                                <select name="form[1]" class="select1">
                                    <option value="" data-show data-label data-label="Предмет:" selected>
                                        Предмет
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <select name="form[1]" class="select1">
                                    <option value="" data-show data-label data-label="Тип:" selected>
                                        Тип
                                    </option>
                                    <option value="1">Автобус</option>
                                    <option value="2">Пешеходная</option>
                                    <option value="3">Квест</option>
                                    <option value="4">Мастер-класс</option>
                                </select>
                                <select name="form[1]" class="select1">
                                    <option value="" data-show data-label data-label="Длительность" selected>
                                        Длительность
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <button type="submit" class="btn">
                                <span>Применить</span>
                            </button>
                        </form>
                        <div class="block-category1__body">
                            <div class="block-category1__column">
                                <div class="block-category1__title">
                                    <span>Профориентация</span>
                                </div>
                                <div class="block-category1__cards">
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image15.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Госструктуры
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="МЧС">
                                                            МЧС
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Суд">
                                                            Суд
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Полиция">
                                                            Полиция
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Банки">
                                                            Банки
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image16.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                IT и Наука
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Яндекс">
                                                            Яндекс
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Сколково">
                                                            Сколково
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Технопарки">
                                                            Технопарки
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image17.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Медицина
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Аптеки">
                                                            Аптеки
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Больницы">
                                                            Больницы
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-category1__column">
                                <div class="block-category1__title">
                                    <span>На производство</span>
                                </div>
                                <div class="block-category1__cards">
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image18.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Пищевые
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Пекарни">
                                                            Пекарни
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Шоколад">
                                                            Шоколад
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Мороженое">
                                                            Мороженое
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Молочные фермы">
                                                            Молочные фермы
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image19.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Промышленные
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Заводы">
                                                            Заводы
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Техника">
                                                            Техника
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-category1__column">
                                <div class="block-category1__title">
                                    <span>Культура и История</span>
                                </div>
                                <div class="block-category1__cards">
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image20.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Музеи
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Исторический">
                                                            Исторический
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Победы">
                                                            Победы
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Дарвиновский">
                                                            Дарвиновский
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Космонавтики">
                                                            Космонавтики
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image21.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Театры и Цирк
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image22.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Усадьбы
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Коломенское">
                                                            Коломенское
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Царицыно">
                                                            Царицыно
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-category1__column">
                                <div class="block-category1__title">
                                    <span>По городам (из Москвы)</span>
                                </div>
                                <div class="block-category1__cards">
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image23.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Ближнее Подмосковье
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Коломна">
                                                            Коломна
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Сергиев Посад">
                                                            Сергиев Посад
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Истра">
                                                            Истра
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image24.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Золотое Кольцо
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Кострома">
                                                            Кострома
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Ярославль">
                                                            Ярославль
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Переславль">
                                                            Переславль
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Ростов">
                                                            Ростов
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-category1__card">
                                        <img loading="lazy" src="img/image25.webp" alt="" class="block-category1__pic1">
                                        <div class="block-category1__item">
                                            <div class="block-category1__name">
                                                Дальние направления
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Казань">
                                                            Казань
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Питер">
                                                            Питер
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Калининград">
                                                            Калининград
                                                        </p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="./">
                                                        <p data-text="Беларусь">
                                                            Беларусь
                                                        </p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="./" class="btn btn-blue">
                                                <svg aria-hidden="true" width="7" height="11">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>