<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li><span>Контакты</span></li>
                            </ul>
                        </div>
                        <h1 class="title1">Контакты</h1>
                    </div>
                </div>
            </div>

            <div class="block-contacts">
                <div class="container">
                    <img src="img/icons/line9.svg" alt="" class="block-contacts__pic1">
                    <div class="block-contacts__content">
                        <div class="block-contacts-top">
                            <div class="block-contacts-top__column">
                                <div class="block-contacts-top__icon">
                                    <svg aria-hidden="true" width="23" height="23">
                                        <use xlink:href="img/sprite.svg#phone1"></use>
                                    </svg>
                                </div>
                                <div class="block-contacts-top__item">
                                    <div class="block-contacts-top__title">Телефон:</div>
                                    <div class="block-contacts-top__text">
                                        <a href="tel:79036346071">+7 903 <strong>63 46 071</strong></a>
                                        <a href="tel:74942300071">+7 494 <strong>2 300 071</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts-top__column">
                                <div class="block-contacts-top__icon">
                                    <svg aria-hidden="true" width="24" height="18">
                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                    </svg>
                                </div>
                                <div class="block-contacts-top__item">
                                    <div class="block-contacts-top__title">Email:</div>
                                    <div class="block-contacts-top__text">
                                        <a href="mailto:info@kostour.ru">info@kostour.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts-top__column">
                                <div class="block-contacts-top__icon">
                                    <svg aria-hidden="true" width="24" height="24">
                                        <use xlink:href="img/sprite.svg#time2"></use>
                                    </svg>
                                </div>
                                <div class="block-contacts-top__item">
                                    <div class="block-contacts-top__title">Часы работы:</div>
                                    <div class="block-contacts-top__text">
                                        пн-пт с 10 до 18
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts-top__column">
                                <div class="block-contacts-top__icon">
                                    <svg aria-hidden="true" width="24" height="24">
                                        <use xlink:href="img/sprite.svg#social"></use>
                                    </svg>
                                </div>
                                <div class="block-contacts-top__item">
                                    <div class="block-contacts-top__title">Мы в соцсетях:</div>
                                    <div class="socials">
                                        <a href="./">
                                            <img src="img/icons/telegramm.svg" alt="">
                                        </a>
                                        <a href="./">
                                            <img src="img/icons/max.svg" alt="">
                                        </a>
                                        <a href="./">
                                            <img src="img/icons/vk.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-contacts-details">
                            <div class="block-contacts-details__column column-detail">
                                <div class="title3">
                                    Реквизиты
                                </div>
                                <ul>
                                    <li>
                                        <p>
                                            <span>ООО "КОСТУР":</span> Общество с ограниченной ответственностью "Костур"
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Юридический адрес и почтовый адрес:</span> 156005 г. Кострома, ул.
                                            Кузнецкая,
                                            29а-48
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Офис:</span> 156029 г. Кострома, ул. Советская, д. 113а
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span> Мы в реестре туроператоров:</span> В031-00161-77/01513046
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Мы в реестре турагентов:</span> РТА 0039309
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>ИНН:</span> 4400018289
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>КПП:</span> 440001001
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>ОГРН:</span> 1244400000426
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-contacts-details__column">
                                <div class="title3">
                                    Финансовые гарантии
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>
                                            <span>Способ финансового обеспечения:</span> договор страхования гражданской
                                            ответственности туроператора.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>
                                            <span>Общий размер финансового обеспечения:</span> 500 000 (Пятьсот тысяч)
                                            рублей.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p><span>Договор:</span> № 433-564-157564/25 от 12/08/2025</p>
                                    </li>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>
                                            <span>Срок действия финансового обеспечения:</span> с 26 сентября 2025 года
                                            по 25
                                            сентября 2026 года.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>
                                            <span>Наименование организации, предоставившей финансовое
                                                обеспечение:</span> СПАО
                                            "Ингострах"
                                        </p>
                                    </li>
                                    <li>
                                        <div class="block-contacts-details__icon">
                                            <img loading="lazy" src="img/icons/check2.svg" alt="">
                                        </div>
                                        <p>
                                            <span>Адрес организации, предоставившей финансовое обеспечение:</span>
                                            115035, г. Москва,
                                            ул. Пятницкая, д. 12 стр. 2
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="map" class="block-contacts__map"></div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms2">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image2.webp" alt="" class="block-forms__pic2">
                        <img loading="lazy" src="img/icons/line3.svg" alt="" class="block-forms__line1">
                        <img loading="lazy" src="img/icons/line4.svg" alt="" class="block-forms__line2">
                        <div class="block-forms__body">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    Есть вопросы?
                                </h2>
                                <p>
                                    Напишите нам:
                                </p>
                            </div>
                            <form data-dev data-popup-message="#thanks" action="#" class="form">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Имя *" class="input">
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Номер телефона *" class="input">
                                    </div>
                                    <div class="form__input textarea">
                                        <textarea placeholder="Ваш комментарий" class="input textarea"></textarea>
                                    </div>
                                </div>
                                <div class="form__bottom">
                                    <div data-da=".form__inputs, 992, 2" class="form__input">
                                        <input autocomplete="off" type="text" name="form[]" placeholder="Email"
                                            class="input">
                                    </div>
                                    <div class="form__buttons">
                                        <label class="checkbox">
                                            <input checked data-required class="checkbox__input" type="checkbox"
                                                value="1" name="form[]">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#check1"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">
                                                    <span>Согласие на обработку<br> <a href="./">персональных
                                                            данных</a></span>
                                                </span>
                                            </span>
                                        </label>
                                        <button type="submit" class="btn">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>