<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка тура</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Экскурсии на производство
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Фабрики мороженого
                                    </a>
                                </li>
                                <li>
                                    <span>
                                        Сладкая сказка: экскурсия на фабрику мороженого Чистая Линия с дегустацией
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h1 class="title1">
                            Сладкая сказка: экскурсия на фабрику мороженого Чистая Линия с дегустацией
                        </h1>
                    </div>
                </div>
            </div>

            <div class="block-product-card">
                <div class="block-product-card__content">
                    <div class="block-product-top">
                        <div class="container">
                            <div class="block-product-top__content">
                                <div class="images-product">
                                    <div class="images-product__swiper">
                                        <div class="images-product__slider swiper">
                                            <div class="images-product__wrapper swiper-wrapper">
                                                <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </a>
                                                <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </a>
                                                <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </a>
                                                <a href="files/videos/video.mp4" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide slide-video">
                                                    <img src="img/products/image4.webp" alt="">
                                                    <div class="play">
                                                        <svg aria-hidden="true" width="17" height="23">
                                                            <use xlink:href="img/sprite.svg#play"></use>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </a>
                                                <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <button type="button"
                                            class="images-product__arrow-prev slider-nav-arrow arrow-prev">
                                            <svg aria-hidden="true" width="12" height="19">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </button>
                                        <button type="button"
                                            class="images-product__arrow-next slider-nav-arrow arrow-next">
                                            <svg aria-hidden="true" width="12" height="19">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="images-product__thumbs">
                                        <div class="images-product__thumb swiper">
                                            <div class="images-product__wrapper swiper-wrapper">
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide slide-video">
                                                    <img src="img/products/image4.webp" alt="">
                                                    <div class="play">
                                                        <svg aria-hidden="true" width="11" height="14">
                                                            <use xlink:href="img/sprite.svg#play"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-product-top__body">
                                    <div class="block-product-top__item">
                                        <ul>
                                            <li>
                                                <div class="block-product-top__icon">
                                                    <svg aria-hidden="true" width="22" height="22">
                                                        <use xlink:href="img/sprite.svg#time2"></use>
                                                    </svg>
                                                </div>
                                                <div class="block-product-top__titles">
                                                    <div class="block-product-top__title">
                                                        Продолжительность:
                                                    </div>
                                                    <p>
                                                        1 час 30 минут
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-top__icon">
                                                    <svg aria-hidden="true" width="22" height="22">
                                                        <use xlink:href="img/sprite.svg#user1"></use>
                                                    </svg>
                                                </div>
                                                <div class="block-product-top__titles">
                                                    <div class="block-product-top__title">
                                                        Рекомендуемый возраст:
                                                    </div>
                                                    <p>
                                                        5-8 классы
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-top__icon">
                                                    <svg aria-hidden="true" width="22" height="16">
                                                        <use xlink:href="img/sprite.svg#bus2"></use>
                                                    </svg>
                                                </div>
                                                <div class="block-product-top__titles">
                                                    <div class="block-product-top__title">
                                                        Вид транспорта:
                                                    </div>
                                                    <p>
                                                        Автобус
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-top__icon">
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#calendar2"></use>
                                                    </svg>
                                                </div>
                                                <div class="block-product-top__titles">
                                                    <div class="block-product-top__title">
                                                        Сезонность:
                                                    </div>
                                                    <p>
                                                        Круглый год
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-top__icon icon-blue">
                                                    <svg aria-hidden="true" width="17" height="22">
                                                        <use xlink:href="img/sprite.svg#ruble"></use>
                                                    </svg>
                                                </div>
                                                <div class="block-product-top__titles">
                                                    <div class="block-product-top__title">
                                                        Стоимость:
                                                    </div>
                                                    <p>
                                                        от 1 500 ₽
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="product-card-buttons">
                                            <a href="./" data-popup="#call" class="btn">
                                                <span>Заказать</span>
                                            </a>
                                            <div class="socials">
                                                <a href="./">
                                                    <img loading="lazy" src="img/icons/max.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-product-programs">
                        <img loading="lazy" src="img/bg1.webp" alt="" class="block-product-programs__bg1 bg1">
                        <img loading="lazy" src="img/bg2.webp" alt="" class="block-product-programs__bg2 bg2">
                        <div class="container">
                            <div class="block-product-programs__content">
                                <h2 class="title3">Программа тура</h2>
                                <div class="block-product-programs__body">
                                    <div class="block-product-programs__left">
                                        <ul>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    09:00
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Подача автобуса к школе
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    10:30
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Прибытие на объект
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    10:30-12:00
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Экскурсия и мастер-класс
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    12:00-13:00
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Перерыв
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    13:00-14:00
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Бизнес-ланч
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-product-programs__time">
                                                    15:00
                                                </div>
                                                <div class="block-product-programs__value">
                                                    Отбытие обратно
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-product-programs__right">
                                        <div class="block-product-programs__title">
                                            Важно знать:
                                        </div>
                                        <ul>
                                            <li>
                                                <span>
                                                    Сменная обувь
                                                </span>
                                                <div class="block-product-info">
                                                    <button type="button" class="block-product-info__icon">
                                                        <img loading="lazy" src="img/icons/info.svg" alt="">
                                                    </button>
                                                    <div class="block-product-info__dropdown">
                                                        <p>
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Repellat, delectus.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span>
                                                    Отсутствие карманных денег
                                                </span>
                                                <div class="block-product-info">
                                                    <button type="button" class="block-product-info__icon">
                                                        <img loading="lazy" src="img/icons/info.svg" alt="">
                                                    </button>
                                                    <div class="block-product-info__dropdown">
                                                        <p>
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Repellat, delectus.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span>
                                                    Списки детей для ГИБДД
                                                </span>
                                                <div class="block-product-info">
                                                    <button type="button" class="block-product-info__icon">
                                                        <img loading="lazy" src="img/icons/info.svg" alt="">
                                                    </button>
                                                    <div class="block-product-info__dropdown">
                                                        <p>
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Repellat, delectus.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" download="#" class="btn btn-blue">
                                    <span>Скачать программу</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block-product-price">
                        <div class="container">
                            <div class="block-product-price__content">
                                <div class="block-product-price__heading">
                                    <h2 class="title3">
                                        Стоимость тура
                                    </h2>
                                    <p>
                                        Стоимость указана в рублях за 1 школьника
                                    </p>
                                </div>
                                <div class="product-price-table">
                                    <div class="product-price-table__body">
                                        <div class="product-price-table__main">
                                            <div class="product-price-table__title">
                                                <div class="product-price-table__icon">
                                                    <svg aria-hidden="true" width="22" height="20">
                                                        <use xlink:href="img/sprite.svg#group"></use>
                                                    </svg>
                                                </div>
                                                <p>
                                                    <strong>Количество человек</strong> + бесплатные сопровождающие
                                                </p>
                                            </div>
                                            <div class="product-price-table__title">
                                                <div class="product-price-table__icon">
                                                    <svg aria-hidden="true" width="24" height="23">
                                                        <use xlink:href="img/sprite.svg#bed"></use>
                                                    </svg>
                                                </div>
                                                <p>
                                                    <strong>Хостел/блочное размещение</strong>
                                                </p>
                                            </div>
                                            <div class="product-price-table__title">
                                                <div class="product-price-table__icon">
                                                    <svg aria-hidden="true" width="24" height="24">
                                                        <use xlink:href="img/sprite.svg#hotel1"></use>
                                                    </svg>
                                                </div>
                                                <p>
                                                    <strong>Отель 3*</strong>
                                                </p>
                                            </div>
                                            <div class="product-price-table__title">
                                                <div class="product-price-table__icon">
                                                    <svg aria-hidden="true" width="24" height="24">
                                                        <use xlink:href="img/sprite.svg#hotel1"></use>
                                                    </svg>
                                                </div>
                                                <p>
                                                    <strong>Отель 4*</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="product-price-table__items">
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value">
                                                    <span>10+1</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 000 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 500 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    2 200 ₽
                                                </div>
                                            </div>
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value">
                                                    <span>15+2</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 200 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 600 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    2 400 ₽
                                                </div>
                                            </div>
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value">
                                                    <span>20+2</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 300 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 700 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    2 600 ₽
                                                </div>
                                            </div>
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value">
                                                    <span>30+3</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 400 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 800 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    2 800 ₽
                                                </div>
                                            </div>
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value">
                                                    <span>40+4</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 500 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 900 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    3 000 ₽
                                                </div>
                                            </div>
                                            <div class="product-price-table__item">
                                                <div class="product-price-table__value main-value-small">
                                                    <span>Доплата за взрослого</span>
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 500 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    1 900 ₽
                                                </div>
                                                <div class="product-price-table__value">
                                                    3 000 ₽
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-product-price__bottom">
                                    <div class="block-product-price__column">
                                        <div class="block-product-price__list-title">
                                            В стоимость включено:
                                        </div>
                                        <div class="block-product-price__list">
                                            <ul>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Транспортное обслуживание
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Оформление в ГИБДД
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Услуги гида
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Входные билеты
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Страховка
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="block-product-price__column">
                                        <div class="block-product-price__list-title">
                                            Дополнительно можно заказать:
                                        </div>
                                        <div class="block-product-price__list">
                                            <ul>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Страховка
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Входные билеты
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Услуги гида
                                                    </p>
                                                </li>
                                                <li>
                                                    <div class="block-product-price__icon">
                                                        <img loading="lazy" src="img/icons/check2.svg" alt="">
                                                    </div>
                                                    <p>
                                                        Оформление в ГИБДД
                                                    </p>
                                                </li>
                                            </ul>
                                            <div class="product-card-buttons">
                                                <a href="./" data-popup="#call" class="btn">
                                                    <span>Заказать</span>
                                                </a>
                                                <div class="socials">
                                                    <a href="./">
                                                        <img loading="lazy" src="img/icons/max.svg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-product-descr">
                        <img loading="lazy" src="img/bg1.webp" alt="" class="block-product-descr__bg1 bg1">
                        <img loading="lazy" src="img/bg2.webp" alt="" class="block-product-descr__bg2 bg2">
                        <div class="container">
                            <div class="block-product-descr__content">
                                <h2 class="title3">
                                    Описание тура
                                </h2>
                                <div data-showmore="items" class="block-product-descr__showmore">
                                    <div data-showmore-content="3" class="block-product-descr__text">
                                        <p>
                                            Программа "Посвящение в выпускники" создана специально для энергичных и
                                            активных школьников 1-4 классов. В этот солнечный и теплый день мы
                                            отправимся в незабываемую поездку по Москве, чтобы сделать наш выпускной
                                            день по-настоящему особенным.
                                        </p>
                                        <p>
                                            Мы будем путешествовать на комфортабельном автобусе, где дети смогут
                                            насладиться поездкой и подготовиться к веселым и интересным мероприятиям,
                                            которые нас ждут. В роли нашей ведущей будет выступать сказочница, которая
                                            будет сопровождать нас во время всего маршрута.
                                        </p>
                                        <p>
                                            Первая остановка будет нас ждать на Болотной площади - одном из самых
                                            необычных и красивых мест Москвы. Здесь мы проведем различные игры и
                                            конкурсы, чтобы развлечься и весело провести время. Затем мы отправимся к
                                            Останкинским прудам, где также будем активно участвовать в разных
                                            мероприятиях, проводимых ...
                                        </p>
                                        <p>
                                            Первая остановка будет нас ждать на Болотной площади - одном из самых
                                            необычных и красивых мест Москвы. Здесь мы проведем различные игры и
                                            конкурсы, чтобы развлечься и весело провести время. Затем мы отправимся к
                                            Останкинским прудам, где также будем активно участвовать в разных
                                            мероприятиях, проводимых ...
                                        </p>
                                    </div>
                                    <button hidden data-showmore-button type="button" class="block-product-descr__more">
                                        <span>Читать полностью</span>
                                        <span>Скрыть</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background: #ffffff;" class="block-section block-section-recommend">
                <div class="container">
                    <img loading="lazy" src="img/icons/line8.svg" alt="" class="block-section__line2">
                    <img loading="lazy" src="img/icons/line9.svg" alt="" class="block-section__line3">
                    <div class="block-section__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Рекомендуемые туры и экскурсии
                            </h2>
                        </div>
                        <div class="block-section__body">
                            <div class="block-section__slider swiper">
                                <div class="block-section__wrapper swiper-wrapper">
                                    <div class="block-section__slide swiper-slide">
                                        <div class="card-product">
                                            <div class="card-product__image">
                                                <div class="card-product__icon">
                                                    <img loading="lazy" src="img/icons/bus.svg" alt="">
                                                </div>
                                                <img loading="lazy" src="img/products/image1.webp" alt=""
                                                    class="card-product__pic1">
                                            </div>
                                            <div class="card-product__item">
                                                <div class="card-product__descr">
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                            <span>c 19.07.2025</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/people.svg" alt="">
                                                            <span>с 8 лет</span>
                                                        </div>
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/time.svg" alt="">
                                                            <span>2 часа</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">
                                                        Праздник огурца в Суздале
                                                    </div>
                                                    <p>
                                                        День Огурца в Суздале — один из самых необычных и
                                                        ярких праздников, которые только вам доводилось
                                                        видеть.
                                                    </p>
                                                </div>
                                                <div class="card-product__bottom">
                                                    <div class="card-product__price">
                                                        от 2 400 ₽
                                                    </div>
                                                    <a href="./" class="btn btn-blue">
                                                        <span>Подробнее</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <div class="card-product">
                                            <div class="card-product__image">
                                                <div class="card-product__icon">
                                                    <img loading="lazy" src="img/icons/footprint.svg" alt="">
                                                </div>
                                                <img loading="lazy" src="img/products/image2.webp" alt=""
                                                    class="card-product__pic1">
                                            </div>
                                            <div class="card-product__item">
                                                <div class="card-product__descr">
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                            <span>c 19.07.2025</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/people.svg" alt="">
                                                            <span>с 8 лет</span>
                                                        </div>
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/time.svg" alt="">
                                                            <span>2 часа</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">
                                                        Ожерелье московских усадеб
                                                    </div>
                                                    <p>
                                                        Про Царицыно сложено немало таинственных и пугающих
                                                        историй, что неудивительно, ведь и сама Екатерина
                                                        ...
                                                    </p>
                                                </div>
                                                <div class="card-product__bottom">
                                                    <div class="card-product__price">
                                                        от 12 900 ₽
                                                    </div>
                                                    <a href="./" class="btn btn-blue">
                                                        <span>Подробнее</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <div class="card-product">
                                            <div class="card-product__image">
                                                <div class="card-product__icon">
                                                    <img loading="lazy" src="img/icons/bus.svg" alt="">
                                                </div>
                                                <img loading="lazy" src="img/products/image3.webp" alt=""
                                                    class="card-product__pic1">
                                            </div>
                                            <div class="card-product__item">
                                                <div class="card-product__descr">
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                            <span>c 19.07.2025</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/people.svg" alt="">
                                                            <span>с 8 лет</span>
                                                        </div>
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/time.svg" alt="">
                                                            <span>2 часа</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">
                                                        Почемучка в Москве
                                                    </div>
                                                    <p>
                                                        Отправляемся в Зоопарк. Здесь интересно и взрослым и
                                                        детям! Московский зоопарк- один из самых ...
                                                    </p>
                                                </div>
                                                <div class="card-product__bottom">
                                                    <div class="card-product__price">
                                                        от 1 500 ₽
                                                    </div>
                                                    <a href="./" class="btn btn-blue">
                                                        <span>Подробнее</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-section__slide swiper-slide">
                                        <div class="card-product">
                                            <div class="card-product__image">
                                                <div class="card-product__icon">
                                                    <img loading="lazy" src="img/icons/bus.svg" alt="">
                                                </div>
                                                <img loading="lazy" src="img/products/image1.webp" alt=""
                                                    class="card-product__pic1">
                                            </div>
                                            <div class="card-product__item">
                                                <div class="card-product__descr">
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                            <span>c 19.07.2025</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__texts">
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/people.svg" alt="">
                                                            <span>с 8 лет</span>
                                                        </div>
                                                        <div class="card-product__text">
                                                            <img loading="lazy" src="img/icons/time.svg" alt="">
                                                            <span>2 часа</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">
                                                        Праздник огурца в Суздале
                                                    </div>
                                                    <p>
                                                        День Огурца в Суздале — один из самых необычных и
                                                        ярких праздников, которые только вам доводилось
                                                        видеть.
                                                    </p>
                                                </div>
                                                <div class="card-product__bottom">
                                                    <div class="card-product__price">
                                                        от 2 400 ₽
                                                    </div>
                                                    <a href="./" class="btn btn-blue">
                                                        <span>Подробнее</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-nav">
                                <button type="button" class="section-arrow-prev slider-nav-arrow arrow-prev">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button type="button" class="section-arrow-next slider-nav-arrow arrow-next">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image1.webp" alt="" class="block-forms__pic1">
                        <img loading="lazy" src="img/image2.webp" alt="" class="block-forms__pic2">
                        <img loading="lazy" src="img/icons/line3.svg" alt="" class="block-forms__line1">
                        <img loading="lazy" src="img/icons/line4.svg" alt="" class="block-forms__line2">
                        <div class="block-forms__body">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    Рассчитать точную стоимость
                                    для вашего класса
                                </h2>
                            </div>
                            <form data-dev data-popup-message="#thanks" action="#" class="form">
                                <div class="form__inputs">
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Имя (Учитель/Родитель) *" class="input">
                                    </div>
                                    <div class="form__input">
                                        <input data-required autocomplete="off" type="text" name="form[]"
                                            placeholder="Номер телефона *" class="input">
                                    </div>
                                    <div class="form__input">
                                        <input autocomplete="off" type="text" name="form[]"
                                            placeholder="Количество детей" class="input">
                                    </div>
                                    <div class="form__input">
                                        <input autocomplete="off" type="text" name="form[]"
                                            placeholder="Номер школы/класс" class="input">
                                    </div>
                                </div>
                                <div class="form__buttons">
                                    <label class="checkbox">
                                        <input checked data-required class="checkbox__input" type="checkbox" value="1"
                                            name="form[]">
                                        <span class="checkbox__label">
                                            <span class="checkbox__icon">
                                                <svg aria-hidden="true" width="12" height="12">
                                                    <use xlink:href="img/sprite.svg#check1"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                <span>Согласие на обработку<br> <a href="./">персональных
                                                        данных</a></span>
                                            </span>
                                        </span>
                                    </label>
                                    <button type="submit" class="btn">
                                        <span>Рассчитать стоимость поездки для класса</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>