<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Экскурсии на производство
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Фабрики мороженого
                                    </a>
                                </li>
                                <li>
                                    <span>
                                        Сладкая сказка: экскурсия на фабрику мороженого Чистая Линия с дегустацией
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h1 class="title1">
                            Сладкая сказка: экскурсия на фабрику мороженого Чистая Линия с дегустацией
                        </h1>
                    </div>
                </div>
            </div>

            <div class="block-product-card">
                <div class="container">
                    <div class="block-product-card__content">
                        <div class="images-product">
                            <div class="images-product__swiper">
                                <div class="images-product__slider swiper">
                                    <div class="images-product__wrapper swiper-wrapper">
                                        <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </a>
                                        <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </a>
                                        <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </a>
                                        <a href="files/videos/video.mp4" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide slide-video">
                                            <img src="img/products/image4.webp" alt="">
                                            <div class="play">
                                                <svg aria-hidden="true" width="17" height="23">
                                                    <use xlink:href="img/sprite.svg#play"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </a>
                                        <a href="img/products/image4.webp" data-fancybox="slider-gallery1"
                                            class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </a>
                                    </div>
                                </div>
                                <button type="button" class="images-product__arrow-prev slider-nav-arrow arrow-prev">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <button type="button" class="images-product__arrow-next slider-nav-arrow arrow-next">
                                    <svg aria-hidden="true" width="12" height="19">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="images-product__thumbs">
                                <div class="images-product__thumb swiper">
                                    <div class="images-product__wrapper swiper-wrapper">
                                        <div class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </div>
                                        <div class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </div>
                                        <div class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </div>
                                        <div class="images-product__slide swiper-slide slide-video">
                                            <img src="img/products/image4.webp" alt="">
                                            <div class="play">
                                                <svg aria-hidden="true" width="11" height="14">
                                                    <use xlink:href="img/sprite.svg#play"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </div>
                                        <div class="images-product__slide swiper-slide">
                                            <img src="img/products/image4.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>