<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Прием в Москве</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg4.webp" alt="" class="block-main__bg1 bg2">
                <img src="img/icons/line7.svg" alt="" class="block-main__line1">
                <div class="container">
                    <div class="block-main__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li><span>Прием в Москве</span></li>
                            </ul>
                        </div>
                        <h1 class="title1">Прием в Москве</h1>
                    </div>
                </div>
            </div>

            <div class="block-category2">
                <div class="container">
                    <div class="block-category2__content">
                        
                        <div class="block-category2__body">
                            <div class="block-category2__cards">
                                <div data-filter="filter1" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image1.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Праздник огурца в Суздале
                                            </div>
                                            <p>
                                                День Огурца в Суздале — один из самых необычных и
                                                ярких праздников, которые только вам доводилось
                                                видеть.
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 2 400 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter2" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/footprint.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image2.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Ожерелье московских усадеб
                                            </div>
                                            <p>
                                                Про Царицыно сложено немало таинственных и пугающих
                                                историй, что неудивительно, ведь и сама Екатерина
                                                ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 12 900 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter3" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image3.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Почемучка в Москве
                                            </div>
                                            <p>
                                                Отправляемся в Зоопарк. Здесь интересно и взрослым и
                                                детям! Московский зоопарк- один из самых ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 1 500 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter4" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image3.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Почемучка в Москве
                                            </div>
                                            <p>
                                                Отправляемся в Зоопарк. Здесь интересно и взрослым и
                                                детям! Московский зоопарк- один из самых ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 1 500 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter1" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image1.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Праздник огурца в Суздале
                                            </div>
                                            <p>
                                                День Огурца в Суздале — один из самых необычных и
                                                ярких праздников, которые только вам доводилось
                                                видеть.
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 2 400 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter2" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/footprint.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image2.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Ожерелье московских усадеб
                                            </div>
                                            <p>
                                                Про Царицыно сложено немало таинственных и пугающих
                                                историй, что неудивительно, ведь и сама Екатерина
                                                ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 12 900 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter3" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image1.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Праздник огурца в Суздале
                                            </div>
                                            <p>
                                                День Огурца в Суздале — один из самых необычных и
                                                ярких праздников, которые только вам доводилось
                                                видеть.
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 2 400 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter4" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/footprint.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image2.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Ожерелье московских усадеб
                                            </div>
                                            <p>
                                                Про Царицыно сложено немало таинственных и пугающих
                                                историй, что неудивительно, ведь и сама Екатерина
                                                ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 12 900 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-filter="filter1" class="card-product filter-card">
                                    <div class="card-product__image">
                                        <div class="card-product__icon">
                                            <img loading="lazy" src="img/icons/bus.svg" alt="">
                                        </div>
                                        <img loading="lazy" src="img/products/image3.webp" alt=""
                                            class="card-product__pic1">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__descr">
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/calendar.svg" alt="">
                                                    <span>c 19.07.2025</span>
                                                </div>
                                            </div>
                                            <div class="card-product__texts">
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/people.svg" alt="">
                                                    <span>с 8 лет</span>
                                                </div>
                                                <div class="card-product__text">
                                                    <img loading="lazy" src="img/icons/time.svg" alt="">
                                                    <span>2 часа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-product__titles">
                                            <div class="card-product__title">
                                                Почемучка в Москве
                                            </div>
                                            <p>
                                                Отправляемся в Зоопарк. Здесь интересно и взрослым и
                                                детям! Московский зоопарк- один из самых ...
                                            </p>
                                        </div>
                                        <div class="card-product__bottom">
                                            <div class="card-product__price">
                                                от 1 500 ₽
                                            </div>
                                            <a href="./" class="btn btn-blue">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include 'blocks/pagging.njk' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>