.card-reviews {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 10px solid var(--ffffff);
    box-shadow: 0 12px 50px 0 rgba(49, 65, 88, 0.1);
    @media (any-hover: hover) {
        &:hover {
            .zoom {
                &::before {
                    content: "";
                    opacity: 1;
                }
            }
        }
    }
    // .card-reviews__pic1

    &__pic1 {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card-news {
    border-radius: 20px;
    background-color: var(--ffffff);
    padding: 10px;
    @media (any-hover: hover) {
        &:hover {
            .card-news__title {
                color: var(--ea3927-2-paints);
            }
        }
    }
    // .card-news__image

    &__image {
        position: relative;
        height: 255px;
        border-radius: 20px;
        overflow: hidden;
        @media (max-width: 992px) {
            height: 200px;
        }
        @media (max-width: 768px) {
            height: 155px;
        }
    }

    // .card-news__badge

    &__badge {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        border-radius: 20px;
        background: var(--ffffff);
        box-shadow: 0 12px 50px 0 rgba(49, 65, 88, 0.1);
        font-weight: 600;
        font-size: 14px;
        line-height: 111%;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 10px;
        padding: 7px 20px 7px 20px;
        img {
            width: 12px;
            height: 12px;
            flex: 0 0 12px;
        }
    }

    // .card-news__pic1

    &__pic1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .card-news__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 9px;
        padding: 26px 25px 28px 25px;
        @media (max-width: 992px) {
            padding: 17px 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: rgba(17, 24, 37, 0.7);
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 157%;
            }
        }
    }

    // .card-news__title

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 144%;
        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 150%;
        }
    }
}
