body {
  color: var(--111825);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(248, 197, 51, 0) 0%, rgba(248, 197, 51, 0.2) 114.84%), var(--ea3927-2-paints);
  box-shadow: 0 12px 50px 0 rgba(49, 65, 88, 0.1);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--ffffff);
  min-height: 80px;
  padding: 6px 20px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  &.btn-blue {
    font-size: 14px;
    line-height: 143%;
    border-radius: 12px;
    min-height: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 114.84%), var(--1659a7);
  }
}

.heading-complex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    margin-bottom: 22px;
  }
  p {
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    text-align: center;
    max-width: 540px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 144%;
    }
  }
}

.title1 {
  font-weight: 700;
  font-size: 66px;
  line-height: 115%;
  @media (max-width: 992px) {
    font-size: 54px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 131%;
    text-align: center;
  }
}
.title2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 132%;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 129%;
  }
}

.zoom {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 114.84%), var(--1659a7);
  box-shadow: 0 12px 50px 0 rgba(49, 65, 88, 0.1);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:
      linear-gradient(90deg, rgba(248, 197, 51, 0) 0%, rgba(248, 197, 51, 0.2) 114.84%), var(--ea3927-2-paints);
    opacity: 0;
    transition: opacity 0.3s;
  }
  svg {
    position: relative;
    z-index: 15;
    fill: none;
    stroke: var(--ffffff);
    color: var(--ffffff);
  }
}

.bg1 {
  position: absolute;
  min-height: 95px;
  min-width: 1920px;
  top: -30px;
  left: 0;
  width: 100%;
  height: auto;
  @media (max-width: 768px) {
    top: -35px;
  }
}
.bg2 {
  position: absolute;
  left: 0;
  bottom: -60px;
  min-height: 95px;
  min-width: 1920px;
  width: 100%;
  height: auto;
  @media (max-width: 768px) {
    bottom: -30px;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media (max-width: 768px) {
    gap: 30px;
  }
  // .tabs__navigation

  &__navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 80px;
    width: calc(100% + 40px);
    height: auto;
    margin-left: -20px;
    padding: 15px 40px;
    background: var(--1659a7);
    color: #fff;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1336'%20height='100'%20viewBox='0%200%201336%20100'%20preserveAspectRatio='none'%3E%3Cpath%20d='M13.5689%2067.8447C16.6475%2083.2373%2018.1867%2090.9337%2023.7163%2095.4668C29.2459%20100%2037.0946%20100%2052.7922%20100L1283.21%20100C1298.91%20100%201306.75%20100%201312.28%2095.4668C1317.81%2090.9337%201319.35%2083.2373%201322.43%2067.8446L1336%200H0L13.5689%2067.8447Z'%20fill='black'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1336'%20height='100'%20viewBox='0%200%201336%20100'%20preserveAspectRatio='none'%3E%3Cpath%20d='M13.5689%2067.8447C16.6475%2083.2373%2018.1867%2090.9337%2023.7163%2095.4668C29.2459%20100%2037.0946%20100%2052.7922%20100L1283.21%20100C1298.91%20100%201306.75%20100%201312.28%2095.4668C1317.81%2090.9337%201319.35%2083.2373%201322.43%2067.8446L1336%200H0L13.5689%2067.8447Z'%20fill='black'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center bottom;
    mask-position: center bottom;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1336'%20height='100'%20viewBox='0%200%201336%20100'%20preserveAspectRatio='none'%3E%3Cpath%20d='M13.5689%2067.8447C16.6475%2083.2373%2018.1867%2090.9337%2023.7163%2095.4668C29.2459%20100%2037.0946%20100%2052.7922%20100L1283.21%20100C1298.91%20100%201306.75%20100%201312.28%2095.4668C1317.81%2090.9337%201319.35%2083.2373%201322.43%2067.8446L1336%200H0L13.5689%2067.8447Z'%20fill='black'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1336'%20height='100'%20viewBox='0%200%201336%20100'%20preserveAspectRatio='none'%3E%3Cpath%20d='M13.5689%2067.8447C16.6475%2083.2373%2018.1867%2090.9337%2023.7163%2095.4668C29.2459%20100%2037.0946%20100%2052.7922%20100L1283.21%20100C1298.91%20100%201306.75%20100%201312.28%2095.4668C1317.81%2090.9337%201319.35%2083.2373%201322.43%2067.8446L1336%200H0L13.5689%2067.8447Z'%20fill='black'/%3E%3C/svg%3E");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      -webkit-mask-position: center bottom;
      mask-position: center bottom;
      background: linear-gradient(
        to bottom,
        rgba(17, 24, 37, 0.3) 0%,
        rgba(17, 24, 37, 0.1) 12%,
        rgba(17, 24, 37, 0) 35%,
        rgba(17, 24, 37, 0) 100%
      );
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (max-width: 992px) {
      padding: 10px 50px;
      gap: 5px;
      margin: 0px -50px;
      width: calc(100% + 100px);
      box-shadow: inset 0 -5px 35px 0 rgba(17, 24, 37, 0.3);
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .tabs__title

  &__title {
    min-height: 70px;
    flex: 1 1 calc(50% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 20px;
    position: relative;
    z-index: 15;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    color: var(--ffffff);
    transition: background-color 0.3s;
    padding: 10px 20px;
    @media (max-width: 992px) {
      flex: 0 0 450px;
    }
    @media (max-width: 768px) {
      flex: 0 0 370px;
      min-height: 80px;
      padding: 5px 15px 5px 20px;
    }
    @media (max-width: 600px) {
      flex: 0 0 256px;
    }
    img {
      width: 40px;
      height: auto;
      flex: 0 0 40px;
    }
    &::after {
      content: "";
      position: absolute;
      right: -40px;
      top: 15px;
      height: calc(100% - 30px);
      width: 1px;
      background: rgba(255, 255, 255, 0.12);
      @media (max-width: 992px) {
        display: none;
      }
    }
    &._tab-active {
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.1);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  // .tabs__content

  &__content {
  }

  // .tabs__body

  &__body {
  }
}

.filter-select {
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid var(--ffffff);
  box-shadow: 0 12px 50px 0 rgba(49, 65, 88, 0.1);
  padding: 6px 6px 6px 0px;
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 6px;
  }
  @media (max-width: 768px) {
    gap: 0px;
    padding: 0px 26px 21px 26px;
  }
  @media (max-width: 359px) {
    padding: 0px 15px 10px 15px;
  }
  .btn {
    flex: 0 0 auto;
    padding: 10px 50px;
    @media (max-width: 992px) {
      width: 100%;
      flex: 0 1 auto;
      padding: 10px 20px;
    }
  }
  // .filter-select__selects

  &__selects {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.filter-sorting {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 992px) {
    justify-content: start;
    margin: 0px -20px;
    padding: 0px 20px;
    width: calc(100% + 40px);
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media (max-width: 768px) {
    gap: 10px;
  }
  // .filter-sorting__button

  &__button {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    padding: 10px 27px;
    border-radius: 20px;
    min-height: 60px;
    border: 3px solid transparent;
    background-color: #ffede2;
    transition:
      background-color 0.3s,
      color 0.3s,
      border 0.3s;
    @media (max-width: 768px) {
      font-size: 16px;
      padding: 10px 20px;
      min-height: 50px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--ffffff);
        border: 3px solid var(--ea3927-2-paints);
      }
    }
    &.active {
      pointer-events: none;
      color: var(--ffffff);
      background-color: var(--ea3927-2-paints);
    }
  }
}

.pagging {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  // .pagging__item

  &__item {
    position: relative;
    z-index: 10;
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--ffffff);
    border: 4px solid transparent;
    text-align: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background-color 0.3s,
      color 0.3s;
    span {
      display: block;
    }
    @media (any-hover: hover) {
      &:hover {
        color: var(--1659a7);
      }
    }
    @media (max-width: 768px) {
      width: 30px;
      flex: 0 0 30px;
      height: 30px;
      font-size: 14px;
      border: 2px solid transparent;
      border-radius: 8px;
    }
    // .pagging__item_nav

    &_nav {
      position: relative;
      z-index: 10;
      transition: color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      @media (any-hover: hover) {
        &:hover {
          color: var(--1659a7);
        }
      }
      @media (max-width: 768px) {
        span {
          display: none;
        }
      }
      svg {
        fill: var(--1659a7);
      }
    }

    // .pagging__item_nav-prev

    &_nav-prev {
      svg {
        transform: rotate(-180deg);
      }
    }

    // .pagging__item_active

    &_active {
      pointer-events: none;
      border: 4px solid var(--faf5f2);
      @media (max-width: 768px) {
        border: 2px solid var(--faf5f2);
      }
    }

    // .pagging__item_ellipsis

    &_ellipsis {
      pointer-events: none;
      opacity: 0.3;
    }

    // .pagging__item_nav-next

    &_nav-next {
    }
  }

  // .pagging__center

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 768px) {
      gap: 5px;
    }
  }
}
